.hidden {
  display: none;
}

.active {
  color: yellow;
}

.width-full {
  width: 100%;
}

.block {
  display: block;
}

.text-right {
  text-align: right;
}

.wrap {
  flex-wrap: wrap;
}

header {
  background-color: rgb(86, 43, 129);
  color: white;
  font-family: "Proza Libre", sans-serif;
  font-size: 24px;
  font-weight: lighter;
}

.input-border {
  border: 1px solid #b6b6b6;
  border-radius: 4px;
}

input.input-border {
  height: 40px;
}

textarea.input-border {
  height: 150px;
}

.spacing {
  margin-top: 20px;
  margin-bottom: 20px;
}

.font-20 {
  font-size: 20px;
}

.font-14 {
  font-size: 14px;
}

body {
  background-color: rgb(240 240 240);
}

.button {
  background-color: rgb(86 43 129);
  color: white;
  border: 1px solid rgb(86 43 129);
  border-radius: 4px;
  padding: 5px 15px;
}

li {
  list-style: none;
}

a:hover {
  cursor: pointer;
}

.flex {
  display: flex;
}

.separate-content {
  justify-content: space-between;
}

.center-height {
  align-self: center;
}

.delete-entry {
  color: red;
  text-decoration: underline;
}
